<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <title>Gizwits-Javascript-SDK Example</title>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  </head>
  <body>
    <div id="app">
    </div>
    <script src="//ihome.lsvalley.com/wxpub/libs/gizwits_ws_0.2.0.min.js"></script>
    <script src="//ihome.lsvalley.com/wxpub/libs/polyfill.min.js"></script>
  </body>
</html>